* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;

  background: none;
  border: none;

  cursor: pointer;
}

input {
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  border: none;
}

.section {
  width: 100%;
  padding: 0 370px;
}

.section--blue {
  background-color: #005ed0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__item-link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.header__button {
  padding: 5px 27px;

  color: #ffffff;
  font-size: 15px;

  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 97px;
  padding-bottom: 193px;

  color: #ffffff;
}

.intro__left {
  width: 480px;
}

.intro__title {
  font-size: 48px;
  margin-bottom: 22px;
}

.intro__text {
  opacity: 0.7;
  margin-bottom: 40px;
}

.intro__text--small {
  opacity: 1;
  font-size: 15px;
}

.intro__form {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.intro__input {
  padding: 14px 18px;
  font-size: 15px;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.intro__button {
  padding: 14px 20px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  background-color: #ff6100;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-wrap: nowrap;
}

.intro__link {
  color: #ff6100;
}
.about__logo {
  color: #e3e7f2;
  margin-top: 58px;
  margin-bottom: 28px;
}

/* .about__line {
  width: 100px;
  height: 186px;
  opacity: 20%;
  color: #5f5f5fcc;
} */

.about__title {
  font-family: "PT Sans", sans-serif;
  font-size: 48px;
}

.about__text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  opacity: 0.7;
}

/* .description { даже по центру не получается выравнять, то ли теги хуево расставил, толи шо. но оно не реагирует на мои команды
} */
.computer_icon {
  opacity: 1;
}

.description__text__top {
  opacity: 0.7;
}

.description__text__bottom {
  opacity: 0.7;
}

.description__title {
  font-family: "PT Sans", sans-serif;
  font-size: 48px;
  color: #333333;
  opacity: 1;
}
.description__button {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #ff6100;
  border-radius: 8px;
  padding-bottom: 11px;
  padding-top: 11px;
  padding-left: 17px;
  padding-right: 17px;
}
.description__scrin {
  display: flex;
}
